anyio==3.6.2
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.1.0
attrs==22.1.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
blis==0.7.8
catalogue==2.0.8
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_83242e7e-f82d-4a71-8ef2-9d71d212d249gu_wxmeq/croots/recipe/certifi_1655968827803/work/certifi
cffi==1.15.1
click==8.0.4
cymem==2.0.6
Cython==3.0.0a11
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.2.0
fastjsonschema==2.16.2
idna==3.4
importlib-metadata==5.0.0
ipykernel==6.17.1
ipython==8.6.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.14.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-server==1.23.2
jupyter_client==7.4.7
jupyter_core==5.0.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
leveldb==0.201
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
medspacy==0.2.0.0
medspacy-pna==0.0.0.3
medspacy-quickumls==2.4.1
mistune==2.0.4
murmurhash==1.0.8
nbclassic==0.4.8
nbclient==0.7.0
nbconvert==7.2.5
nbformat==5.7.0
nest-asyncio==1.5.6
nltk==3.7
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.23.2
openpyxl==3.1.2
packaging==21.3
pandas==2.1.4
pandocfilters==1.5.0
parso==0.8.3
pathy==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==2.5.4
preshed==3.0.7
prometheus-client==0.15.0
prompt-toolkit==3.0.32
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pydantic==1.8.2
PyFastNER==1.0.8
Pygments==2.13.0
pyparsing==3.0.9
pyrsistent==0.18.1
PyRuSH==1.0.3.6
pysbd==0.3.4
python-dateutil==2.8.2
pytz==2023.3.post1
pyzmq==24.0.1
qtconsole==5.4.0
QtPy==2.3.0
quicksectx==0.3.1
quickumls-simstring==1.1.5.post1
regex==2022.8.17
requests==2.15.1
Send2Trash==1.8.0
six==1.16.0
smart-open==5.2.1
sniffio==1.3.0
soupsieve==2.3.2.post1
spacy==3.1.6
spacy-legacy==3.0.10
srsly==2.4.4
stack-data==0.6.1
terminado==0.17.0
thinc==8.0.17
tinycss2==1.2.1
tornado==6.2
tqdm==4.64.0
traitlets==5.5.0
typer==0.4.2
typing_extensions==4.3.0
tzdata==2023.3
Unidecode==1.3.4
unqlite==0.9.3
wasabi==0.10.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
widgetsnbextension==4.0.3
zipp==3.10.0
